@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}
li {
  margin-right: 10px;
}
